h1{
    color : yellow;
    }

.Name{
    background-color: red;
}

.header{
    background-color: pink;
}

.pingpong{
    background-color: navy;
    display:flex;
    flex-direction: column-reverse;
}
